<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AccessKey" value="" />
		<add key="SecretKey" value="" />
		<add key="Region" value="" />
		<add key="BucketName" value="" />
		<add key="ObjectName" value="" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>